<!DOCTYPE html>

<html>

<head>
    <link  rel="stylesheet" href="/css/styles.css" >

</head>

<body>

{{>header}}


<p>my name is ---- {{name}}</p>
<img src="/img/flyability.png"> 



{{>footer}}
</body>

</html>